@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-display {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.font-mono {
  font-family: monospace;
}
